.mainDoge {
	width: 40%;
}

label.upload-group {
	width: 100px;
	height: 40px;
	color: white;
	padding: 5 5 5 5;
	text-align: center;
	background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%); 
}

input#file {
	width: 0.1px;
	height: 0.1px;
	position: absolute;
	z-index: -1;
}

.contentImage {
	width: 100%;
}
.contentCaption {
	width: 100%;
	font-size: 1em;
	text-align: center;
}

